.box {
    width: 150px;
    height: 150px;
    border: 1px solid black; /* Отступы */
    margin: 20px 20px 20px 20px;
    padding: 10px; /*Увеличить div на 10 со всех сторон, не меняет размер элемента*/
    box-sizing: border-box; /*Фиксирует размер box-а по границам*/
}
.box1 {
    background-color: rgb(207, 59, 59);
}
.box2 {
    background-color: rgb(151, 186, 216);
}
.box3 {
    background-color: rgb(58, 155, 74);
}
button {
    width: 100px;
    height: 30px;
    background-color: rgb(4, 150, 150);
    color: white;
    font-style: monospace;
    border: none;
    border-radius: 3px;
    cursor: pointer; /*Установить курсор при наведении. Чтобы поставить свой, нужно использовать url()*/
    padding-bottom: 3px;
}
button:hover { /*Изменить что-то при наведении*/
    background-color: rgb(3, 230, 230);
    color: rgb(4, 4, 97);
    border: none;
}
ul li:nth-child(3){ /*Изменить третий элемент списка. Чтобы сделать например нечетный, нужно писать odd вместо 3*/
    color:rgb(116, 116, 167)
}
.table_1 td:nth-child(even){ /*для каждого четного стобца установить границу*/
    border: 1px solid black;
}
.SomeContent::before{
    content: 'Hello, ';
}
.SomeContent::after{
    content: ', goodbye!';
}
div.flbox { /*Использовать flex-box. Для блоков в стобик использовать flex-direction: column*/
    display: flex;
    flex-wrap: wrap; /*Перенос на след строку блоков*/
    justify-content: center; /*Упорядочить контент*/
    align-items: center; /*Выровнять по высоте*/
    height: 300px;
    width: 400px;
    border: 1px solid black;
    align-content: center; /*Выравнивание отдельных элементов*/

}

.flbox div:nth-child(3){
    order: -1; /*изменить порядок блоков*/
    align-self: center; - /*Выравнивание отдельных элементов*/
}