@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.92), 
    rgba(0, 0, 0, 0.92)
  ), url(/public/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
.myName p:nth-child(1) {
  font-family: "Edu AU VIC WA NT Hand", sans-serif;
}
.myName p:nth-child(2) {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.myName {
  position: absolute;
  top: 0;
  font-size: 2.1rem;
  width: 360px;
  margin: 0 0 0 10px;
  justify-content: center;
  padding: 20px;
}
.myName p {
  padding: 0;
  margin: 3px;
  color: white;
}